.destination {
    border: 2px solid red;
    width: 50vw;
    margin: auto;
}

.destination-image {
    border: 2px solid blue;
    width: 60%;
    margin: auto;
    height: 300px;
    border-radius: 20%;
}