#dis-thingy {
    border: black solid;
    width: 800px;
    display: flex;
    margin-left: 20%;
    margin-bottom: 3%;
    padding: 50px;
}


#dis-thingy button {
    margin-top: 5%;
    width: 200px;
    height: 30px;
    background-color: rgb(3, 148, 233);
    color: white;
    cursor: pointer;
}

#dis-thingy button:hover {
    transform: scale(1.2);
}