.month {
    border: 2px solid black;
}

#calendar {
    display: grid;
    grid-template-rows: repeat(4, 300px);
    grid-template-columns: repeat(3, 300px);
    grid-gap: 90px;
    margin-top: 3%;
    padding-left: 12%;
}